In [18]:
import pandas as pd

In [19]:
pd.set_option('display.max_rows', 1000)

In [20]:
df = pd.read_csv('2603_stock_price.csv ')

In [26]:
df

             date  stock_id  deal_price  volume          Time  TickType
0      2021-01-22      2603       33.00       7  08:30:05.338         0
1      2021-01-22      2603       32.10      10  08:30:10.358         0
2      2021-01-22      2603       32.90     107  08:30:15.378         0
3      2021-01-22      2603       32.90     111  08:30:20.397         0
4      2021-01-22      2603       32.90     130  08:30:25.417         0
...           ...       ...         ...     ...           ...       ...
45444  2021-01-22      2603       35.05    8214  13:29:46.357         0
45445  2021-01-22      2603       35.05    7791  13:29:51.377         0
45446  2021-01-22      2603       35.05    7611  13:29:56.395         0
45447  2021-01-22      2603       35.00    7968  13:30:00.000         2
45448  2021-01-22      2603       35.00    7968  14:30:00.000         2

[45449 rows x 6 columns]

In [22]:
df2 = df[df.TickType!=0]

In [134]:
df2.head()

           date  stock_id  deal_price  volume          Time  TickType
357  2021-01-22      2603       32.45    2809  09:00:00.345         1
358  2021-01-22      2603       32.40      75  09:00:00.386         2
359  2021-01-22      2603       32.35       6  09:00:00.477         2
360  2021-01-22      2603       32.35       6  09:00:00.698         2
361  2021-01-22      2603       32.35       1  09:00:01.077         1

In [38]:
df3 = df2.groupby(['deal_price','volume'])

In [39]:
df3.size()

deal_price  volume
31.50       1         15
            2          7
            3          6
            4          1
            5         11
                      ..
35.25       19         1
            20         2
            50         2
            90         1
            150        1
Length: 2601, dtype: int64

In [8]:
df.volume.value_counts().nlargest(50)

1      18392
2       7148
5       4277
10      3713
3       3264
4       1386
20       938
7        701
6        643
8        438
30       407
50       394
15       340
100      213
40       198
9        188
60       154
12       147
14       117
25       113
13        95
11        79
18        78
16        73
499       60
19        54
28        39
17        38
200       35
24        35
22        35
70        34
80        32
21        31
23        30
26        28
35        26
32        24
45        24
29        22
27        21
34        21
31        20
300       20
42        19
44        17
90        16
37        16
75        16
38        13
Name: volume, dtype: int64

# Api Call

In [200]:
# give a try

In [126]:
import requests
import pandas as pd

# 個股研究

In [191]:
apiToken = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyMS0wMi0yMiAyMTozMzo0OSIsInVzZXJfaWQiOiJOVFVfU2hlcmxvY2siLCJpcCI6IjEyMy4xOTMuMjUyLjI2In0.eHJqqgPIPC1trL0lzC1EIydODZvZQeF5tq7ok7VDRIc"
url = "https://api.finmindtrade.com/api/v4/data"
stock_id = input('Stock ID ')
start_date = input('Start Date (yyyy-mm-dd) ')
end_date = input('End Date (yyyy-mm-dd) ')

Stock ID 2603
Start Date (yyyy-mm-dd) 2021-01-22
End Date (yyyy-mm-dd)

## 逐筆交易

In [185]:
stock_id

'2330'

In [186]:
start_date

'2021-02-25'

In [194]:
parameter = {
    "dataset": "TaiwanStockPriceTick",
    "data_id": stock_id,
    "start_date": start_date ,
    "token": apiToken, # 參考登入，獲取金鑰
    "streaming_all_data": True,# 拿取當天所有即時資料
}
resp = requests.get(url, params=parameter)
data = resp.json()
data = pd.DataFrame(data["data"])
print(data.head())

         date stock_id  deal_price  volume          Time  TickType
0  2021-01-22     2603        33.0       7  08:30:05.338         0
1  2021-01-22     2603        32.1      10  08:30:10.358         0
2  2021-01-22     2603        32.9     107  08:30:15.378         0
3  2021-01-22     2603        32.9     111  08:30:20.397         0
4  2021-01-22     2603        32.9     130  08:30:25.417         0

In [195]:
data

             date stock_id  deal_price  volume          Time  TickType
0      2021-01-22     2603       33.00       7  08:30:05.338         0
1      2021-01-22     2603       32.10      10  08:30:10.358         0
2      2021-01-22     2603       32.90     107  08:30:15.378         0
3      2021-01-22     2603       32.90     111  08:30:20.397         0
4      2021-01-22     2603       32.90     130  08:30:25.417         0
...           ...      ...         ...     ...           ...       ...
45444  2021-01-22     2603       35.05    8214  13:29:46.357         0
45445  2021-01-22     2603       35.05    7791  13:29:51.377         0
45446  2021-01-22     2603       35.05    7611  13:29:56.395         0
45447  2021-01-22     2603       35.00    7968  13:30:00.000         2
45448  2021-01-22     2603       35.00    7968  14:30:00.000         2

[45449 rows x 6 columns]

In [198]:
parameter = {
    "dataset": "TaiwanStockPriceTick",
    "data_id": stock_id,
    "start_date": start_date ,
    "token": apiToken, # 參考登入，獲取金鑰
}
resp = requests.get(url, params=parameter)
data = resp.json()
data = pd.DataFrame(data["data"])
print(data.head())

         date stock_id  deal_price  volume          Time  TickType
0  2021-01-22     2603        33.0       7  08:30:05.338         0
1  2021-01-22     2603        32.1      10  08:30:10.358         0
2  2021-01-22     2603        32.9     107  08:30:15.378         0
3  2021-01-22     2603        32.9     111  08:30:20.397         0
4  2021-01-22     2603        32.9     130  08:30:25.417         0

In [199]:
data

             date stock_id  deal_price  volume          Time  TickType
0      2021-01-22     2603       33.00       7  08:30:05.338         0
1      2021-01-22     2603       32.10      10  08:30:10.358         0
2      2021-01-22     2603       32.90     107  08:30:15.378         0
3      2021-01-22     2603       32.90     111  08:30:20.397         0
4      2021-01-22     2603       32.90     130  08:30:25.417         0
...           ...      ...         ...     ...           ...       ...
45444  2021-01-22     2603       35.05    8214  13:29:46.357         0
45445  2021-01-22     2603       35.05    7791  13:29:51.377         0
45446  2021-01-22     2603       35.05    7611  13:29:56.395         0
45447  2021-01-22     2603       35.00    7968  13:30:00.000         2
45448  2021-01-22     2603       35.00    7968  14:30:00.000         2

[45449 rows x 6 columns]

## 股價日成交資訊 TaiwanStockPrice¶

In [139]:
parameter = {
    "dataset": "TaiwanStockPrice",
    "data_id": stock_id,
    "start_date": start_date ,
    "end_date": end_date,
    "token": apiToken, # 參考登入，獲取金鑰
}
resp = requests.get(url, params=parameter)
data = resp.json()
data = pd.DataFrame(data["data"])
print(data.head())

         date stock_id  Trading_Volume  Trading_money   open    max    min  \
0  2021-02-22     4976         8799698      965926676  108.0  112.0  105.0
1  2021-02-23     4976        56291897     6555425406  115.5  123.0  111.0
2  2021-02-24     4976        34912892     4123701418  116.0  122.0  114.5
3  2021-02-25     4976        37345354     4416717478  124.5  126.5  110.0
4  2021-02-26     4976        26970000     2933644000  105.0  112.5  103.5

   close  spread  Trading_turnover
0  112.0    10.0              4325
1  113.0     1.0             33176
2  118.0     5.0             20853
3  110.0    -8.0             22623
4  112.0     2.0             15314

## 法人買賣表

In [148]:
import requests
import pandas as pd
parameter = {
    "dataset": "TaiwanStockInstitutionalInvestorsBuySell",
    "data_id": stock_id,
    "start_date": start_date ,
    "end_date": end_date,
    "token": apiToken, # 參考登入，獲取金鑰
}
data = requests.get(url, params=parameter)
data = data.json()
data = pd.DataFrame(data['data'])
print(data.head())

         date stock_id       buy                 name      sell
0  2020-04-01     2330    189000       Dealer_Hedging    493500
1  2020-04-01     2330     79000          Dealer_self    807000
2  2020-04-01     2330         0  Foreign_Dealer_Self         0
3  2020-04-01     2330  31304729     Foreign_Investor  29057663
4  2020-04-01     2330    900000     Investment_Trust    239000

In [149]:
data

            date stock_id       buy                 name      sell
0     2020-04-01     2330    189000       Dealer_Hedging    493500
1     2020-04-01     2330     79000          Dealer_self    807000
2     2020-04-01     2330         0  Foreign_Dealer_Self         0
3     2020-04-01     2330  31304729     Foreign_Investor  29057663
4     2020-04-01     2330    900000     Investment_Trust    239000
...          ...      ...       ...                  ...       ...
1100  2021-02-26     2330  29621750     Foreign_Investor  93372446
1101  2021-02-26     2330         0  Foreign_Dealer_Self         0
1102  2021-02-26     2330   1780000     Investment_Trust    221000
1103  2021-02-26     2330   1604000          Dealer_self   1410552
1104  2021-02-26     2330    279000       Dealer_Hedging   1016481

[1105 rows x 5 columns]

In [150]:
data.name.value_counts()

Investment_Trust       221
Foreign_Dealer_Self    221
Foreign_Investor       221
Dealer_self            221
Dealer_Hedging         221
Name: name, dtype: int64

## 股東持股分級表 (約15天更新一次)

In [176]:
start_date= '2021-01-30'

In [154]:
start_date

'2021-02-23'

In [177]:
parameter = {
    "dataset": "TaiwanStockHoldingSharesPer",
    "data_id": stock_id,
    "start_date": start_date ,
    "end_date": end_date,
    "token": apiToken, # 參考登入，獲取金鑰
}
data = requests.get(url, params=parameter)
data = data.json()
data = pd.DataFrame(data['data'])
print(data.head())

         date stock_id HoldingSharesLevel  people  percent       unit
0  2021-02-05     2330              1-999  433232     0.25   64987796
1  2021-02-05     2330        1,000-5,000  302616     2.18  566317771
2  2021-02-05     2330       5,001-10,000   35319     0.99  257855478
3  2021-02-05     2330      10,001-15,000   12256     0.58  151134995
4  2021-02-05     2330      15,001-20,000    5788     0.39  102516316

# 整體市場 (不分Stock-id)

## 一次拿特定日期，所有資料

In [136]:
parameter = {
    "dataset": "TaiwanStockPrice",
    "start_date": "2021-02-05",
    "token": "", # 參考登入，獲取金鑰
}
resp = requests.get(url, params=parameter)
data = resp.json()
data = pd.DataFrame(data["data"])
print(data.head())

         date stock_id  Trading_Volume  Trading_money    open     max     min  \
0  2021-02-05     0050         9116600     1232781527  134.80  136.30  134.20
1  2021-02-05     0051           12845         576079   45.00   45.00   44.67
2  2021-02-05     0052         1704829      222494029  130.15  131.45  129.80
3  2021-02-05     0053           58439        3874808   66.00   66.50   65.85
4  2021-02-05     0054           13000         388130   29.99   29.99   29.82

    close  spread  Trading_turnover
0  134.80    1.25              9975
1   44.90    0.20                38
2  130.20    1.40              1360
3   66.00    0.70                44
4   29.98    0.02                 4

In [137]:
data

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2021-02-05,0050,9116600,1232781527,134.80,136.30,134.20,134.80,1.25,9975
1,2021-02-05,0051,12845,576079,45.00,45.00,44.67,44.90,0.20,38
2,2021-02-05,0052,1704829,222494029,130.15,131.45,129.80,130.20,1.40,1360
3,2021-02-05,0053,58439,3874808,66.00,66.50,65.85,66.00,0.70,44
4,2021-02-05,0054,13000,388130,29.99,29.99,29.82,29.98,0.02,4
...,...,...,...,...,...,...,...,...,...,...
27496,2021-02-05,9958,1583756,164236352,105.00,106.00,103.00,103.50,-1.50,1143
27497,2021-02-05,9960,27000,861950,31.45,32.95,31.45,32.95,1.30,17
27498,2021-02-05,9962,63000,567800,9.05,9.11,9.00,9.06,0.06,17
27499,2021-02-05,TAIEX,6932172193,283023953404,15805.76,15938.09,15774.34,15802.40,96.18,1838358
27500,2021-02-05,TPEx,667389183,54522516953,183.00,184.23,182.93,183.30,0.47,395480

## 每5秒委託成交統計

In [141]:
import requests
import pandas as pd
parameter = {
    "dataset": "TaiwanStockStatisticsOfOrderBookAndTrade",
    "start_date": "2021-01-07",
    "token": "", # 參考登入，獲取金鑰
}
data = requests.get(url, params=parameter)
data = data.json()
data = pd.DataFrame(data['data'])
print(data.head())

       Time  TotalBuyOrder  TotalBuyVolume  TotalSellOrder  TotalSellVolume  \
0  09:00:00         298618         3229222          365465          1730137
1  09:00:05         301246         3254929          367886          1751034
2  09:00:10         304171         3283698          370338          1770414
3  09:00:15         307686         3325195          372828          1782960
4  09:00:20         310927         3345735          375220          1792055

   TotalDealOrder  TotalDealVolume  TotalDealMoney        date
0               0                0               0  2021-01-07
1           17535            97251            4515  2021-01-07
2           31370           150557            7041  2021-01-07
3           40083           177080            8088  2021-01-07
4           47250           198536            9137  2021-01-07

In [142]:
data

,Time,TotalBuyOrder,TotalBuyVolume,TotalSellOrder,TotalSellVolume,TotalDealOrder,TotalDealVolume,TotalDealMoney,date
0,09:00:00,298618,3229222,365465,1730137,0,0,0,2021-01-07
1,09:00:05,301246,3254929,367886,1751034,17535,97251,4515,2021-01-07
2,09:00:10,304171,3283698,370338,1770414,31370,150557,7041,2021-01-07
3,09:00:15,307686,3325195,372828,1782960,40083,177080,8088,2021-01-07
4,09:00:20,310927,3345735,375220,1792055,47250,198536,9137,2021-01-07
...,...,...,...,...,...,...,...,...,...
3236,13:29:40,10647209,17137336,10863628,13176704,2304085,8500465,322513,2021-01-07
3237,13:29:45,10648911,17133218,10864933,13190419,2304085,8500465,322513,2021-01-07
3238,13:29:50,10650867,17154822,10866515,13205340,2304085,8500465,322513,2021-01-07
3239,13:29:55,10652766,17164841,10868338,13206399,2304085,8500465,322513,2021-01-07
3240,13:30:00,10656008,17099014,10871142,13205123,2363951,8780376,338131,2021-01-07